@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

body {
  font-family: 'Shippori Antique B1', sans-serif;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); 
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




#navbar #buttonHoverEffects {
  font-size: 20px;
}



.navFontSize {
    font-size: clamp(20px, 4vw, 30px);
}

.backgroundDarkNoGradient {
  background-color: #07111A;
}

#companyLogo {
  height: 100px;
  margin: auto;
  max-width: 300px;
}

@media (max-width: 767px) {
  #companyLogo {
    height: 80px;
    margin: auto;
    max-width: 200px;
  }
}


.navButtons:hover {
  background-color: #115E99;
  border-radius: 10px;
}

.navButtons {
  text-decoration: none;
  color: white;
}



.image-container {
  text-align: center;
}

.image-container img {
  vertical-align: middle;
}


.homeContainer {
  background-color: #07111A;
}

.bottomLine {
  border-bottom: gray 1px solid;
}

.topLine {
  border-top: gray 1px solid;
}

.noTextDecoration {
  text-decoration: none;
}

.quizCards {
  border-radius: 10px;
  background-color: #0A151F;
}

.quizCards:hover {
  background-color: #102e4a;
}

.backgroundImage {
  background-image: linear-gradient(rgba(7, 17, 13, 0.6), rgba(7, 17, 26, 0.9)), url(./information_technology.jpg);
}

.horizontalLines {
  border-color: white;
  border-width: 5px;
  margin-left: 3rem;
  margin-right: 3rem;
}